/******************************************************************
Site Name: Grid Example
Author: Jonathon Weller

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

code {
	font-size: 1em;
}

.col-imp-change {
	@include col-imp(3);
	code:after {
		content: "@include col-imp(3);"
	}
}