/******************************************************************
Site: Grid Example
Author: Jonathon Weller

Stylesheet: Styles

******************************************************************/

@import "normalize";
@import "grid/grid";
@import "mixins";

// BASE (MOBILE) SIZE
@import "base";

// LARGER MOBILE DEVICES
@media only screen and (min-width: 481px) {
	@import "481up";
}

// TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
	@import "768up";
}